html {
  background-image: linear-gradient(#171717, #1F1F1F ) ;
  font-family: sans-serif;
  color:rgb(249 250 251);
  height: 100vw;
  
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 6rem;
}
