.portrait {
  position: absolute;
  left: 60%;
  font-size: 5vw;
  height: 600px;
  width: 600px;
  object-fit: cover;
  border-radius: 50%;
}
.landingContainer {
  margin-left: 1rem;
  font-style: italic;
  font-size: 12vw;
  width: 50vw;
}

.fullContainer {
  display: flex;
  width: 100vw;
  justify-content: left;
  margin-top: 5rem;
  height: 40rem;
}
.fullNameContainer {
  width: fit-content;
  position: absolute;
  margin-bottom: 4rem;
}
.about {
  height: 30rem;
  margin-top: 5rem;
  width: 105vw;
  margin-left: -2rem;
  margin-bottom: 10rem;
  background: linear-gradient(
      135deg,
      #1f005c,
      #5b0060,
      #870160,
      #ac255e,
      #ca485c,
      #e16b5c,
      #f39060,
      #ffb56b
    )
    fixed;
  --mask: radial-gradient(55.9px at 50% 75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(55.9px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(55.9px at 50% calc(100% - 75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(55.9px at 50% calc(100% + 50px), #0000 99%, #000 101%) 50%
      calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.aboutContainer {
  width: 100vw;
  padding: 6rem;
  position: absolute;
  left: -2%; /* Start off-screen on the left */
  opacity: 0;
  animation: slideIn 2s ease-out forwards;
}
@keyframes slideIn {
  to {
    left: 0;
    opacity: 1;
  }
}
.skillContainer {
  overflow: hidden;
}
.skillName {
  color: #f6cf87;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10vw;
  padding-left: 100%;
  animation: 12s marquee linear infinite;
  width: 150vw;
}

#additionalName {
  margin-left: 6rem;
}
#firstnameContainer {
  margin-left: 2rem;
}

.fall-in span {
  display: inline-block;
  opacity: 0;
  animation: fallIn 1s ease-in-out forwards;
  height: fit-content;
}

@keyframes fallIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-150%);
  }
}
#JS {
  padding-right: 35vw;
}

#CSS {
  padding-right: 30vw;
}
#Html {
  padding-right: 25vw;
}

#Astro {
  padding-right: 20vw;
}
.skillName:hover {
}
#React {
  padding-right: 15vw;
}
#Tailwind {
  padding-right: 10vw;
}
#MongoDB {
  padding-right: 5vw;
}

@media (max-width: 480px) {
  .rightContainer {
    opacity: 0;
  }
  .fullContainer {
    max-height: 30rem;
    display: block;
  }
  .landingContainer {
    display: block;
  }
  .aboutContainer h1 {
    font-size: 2rem;
  }
  .aboutContainer {
    padding: 1rem;
  }
  .portrait {
    left: 0%;
  }
}
