---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>About Me</h1>
    <h2>Development Philosophy</h2>
    <p>
      Your company's design should match your prospective customers. That's why
      you as my customer are an integral part of the design process when
      designing your website.
    </p>
  </body>
</html>
