---
import '../styles/global.css'
import '../styles/landing.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Me</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body class="font-body">
    <a id="home"></a>
<div class="fullContainer">

  <div class="landingContainer">

    <div class="fullNameContainer">
      
            <div id="firstnameContainer" class="fall-in">
              <span style="animation-delay: 0.1s;">A</span>
              <span style="animation-delay: 0.2s;">l</span>
              <span style="animation-delay: 0.3s;">e</span>
              <span style="animation-delay: 0.4s;">x</span>
            </div>
            <div id="additionalName" class="fall-in" style="animation-delay: 1.5s;">
              <span style="animation-delay: 1.6s;">M</span>
              <span style="animation-delay: 1.7s;">a</span>
              <span style="animation-delay: 1.8s;">r</span>
              <span style="animation-delay: 1.9s;">r</span>
            </div>
    </div>
         <div class="rightContainer bg-red-50 h-16 w-16"> </div>
  </div>
</div>
<div class="about">
  <div class="aboutContainer">
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis eaque placeat eveniet facere, dolor culpa voluptatibus omnis error minima vel incidunt deserunt suscipit quibusdam. Et modi sapiente quisquam dicta.</p>
  </div>
</div>
          
          <ul class="skillContainer min-h-full">
            <li class="skillName hover:text-[15vw] transition-all ease-in-out delay-250" id="JS">JS</li>
            <li class="skillName hover:text-[15vw] transition-all ease-in-out delay-250" id="CSS">CSS</li>
            <li class="skillName hover:text-[15vw] transition-all ease-in-out delay-250" id="Html">Html</li>
            <li ><p class="skillName" id="Astro">Astro</p></li>
            <li class="skillName" id="React">React</li>
            <li class="skillName" id="Tailwind">Tailwind</li>
            <li class="skillName" id="MongoDB">MongoDB</li>
            </ul> 
            
  </body>
</html>
