---
import Swiper from "../components/Swiper.html";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    
  </head>
  <body>
    <div id="projects" class="fade-in-up" style="opacity: 0">
      <p class="text-[10vw]">Projects</p>
    </div>
   <div class="my-32">
    <Swiper/>
    
   </div>
   <style>
       .fade-in-up {
        transition: opacity 1s ease-in-out;
        text-align: center;
        letter-spacing: 0.1em;
        
      }
   </style>
   <script>
    document.addEventListener('scroll', function () {
      var projectsDiv = document.getElementById('projects');
      var scrollPosition = window.scrollY;

      if (scrollPosition > 200) {
        projectsDiv.style.opacity = '1';
      } else {
        projectsDiv.style.opacity = '0';
      }
    });
  </script>
  </body>
</html>
