---
import Swiper from "../components/Swiper.html";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    
  </head>
  <body>
    <a id="projects"></a>
   <h1 class="text-center underline mt-32">Projects</h1>
   <div class="my-32">
    <Swiper/>
    
   </div>
  </body>
</html>
